.estimate {
    position: fixed;
    bottom: 5rem;
    right: 5rem;

    background: var(--bg-color);
    border-radius: 10px;

    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;

    width: 16rem;
    height: 4rem;

    padding: 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;

    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.2), 0px 10px 14px rgba(0, 0, 0, 0.14), 0px 4px 18px rgba(0, 0, 0, 0.12);
}
.estimate:hover {
    opacity: .9;
}
.estimate img {
    width: 2rem;
    height: 2rem;
}